@import 'syntax';

$spacingUnit: 20px;

$tablet: 700px;
$desktop: 900px;
$wide: 1100px;

$gutters: (
    'default': 20px,
    'tablet': 10%,
    'desktop': 15%,
    'wide': 20%
);

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Playfair Display', serif;
    margin-bottom: $spacingUnit / 2;
}

ul, li, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

p, li {
    margin: 0;
    margin-bottom: $spacingUnit;
    font-size: 18px;
    line-height: 1.5;
}

.inner {
    padding-left: map-get($gutters, 'default');
    padding-right: map-get($gutters, 'default');

    @media screen and (min-width: $tablet) {
        padding-left: map-get($gutters, 'tablet');
        padding-right: map-get($gutters, 'tablet');
    }

    @media screen and (min-width: $desktop) {
        padding-left: map-get($gutters, 'desktop');
        padding-right: map-get($gutters, 'desktop');
    }

    @media screen and (min-width: $wide) {
        padding-left: map-get($gutters, 'wide');
        padding-right: map-get($gutters, 'wide');
    }
}

body, p, li, input {
    font-family: 'Crimson Text', serif;
}

.brand {
    font-size: 50px;
    line-height: 1;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;

    a {
        color: #333333;
        text-decoration: none;
    }
}

h1 {
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px solid #cccccc;
    margin-bottom: $spacingUnit / 2;
    padding-bottom: $spacingUnit / 2;
}

h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: $spacingUnit;
}

h3 {
    //font-size: 16px;
    //font-weight: 400;
    font-size: 18px;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}

h5 {
    font-size: 14px;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}

h6 {
    font-size: 11px;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}

a {
    color: #2298a7;
    &:hover {
        color: #5cc3d0;
    }
}

ul, ol {
    margin: $spacingUnit 0;
}

article ul,
article ol,
.bulleted {
    li {
        list-style-type: square;
        margin-left: $spacingUnit * 2;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.header__inner {
    padding-top: $spacingUnit;
    padding-bottom: $spacingUnit;

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;

        > * {
            flex-grow: 1;
        }
    }
}

nav {
    $navItemGutter: $spacingUnit / 2;
    margin-top: 12px; // align with header

    @media screen and (min-width: $tablet) {
        text-align: right;
    }

    ul {
        margin: 0;
    }

    li {
        display: inline-block;
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        margin: 0;
        margin-right: $navItemGutter;

        &:last-child {
            margin-right: 0;
            &:after {
                display: none;
            }
        }

        &:after {
            content: '•';
            color: #b3bad6;
            margin-left: $navItemGutter;
        }

        a {
            color: #1b121d;
            text-decoration: none;
            &:hover {
                color: #b3bad6;
                border-bottom: 1px solid #b3bad6;
                padding-bottom: 2px;
            }
        }
    }
}

// via http://stackoverflow.com/a/34982673
@function decimal-round ($number, $digits: 0, $mode: round) {
    $n: 1;
    // $number must be a number
    @if type-of($number) != number {
        @warn '#{ $number } is not a number.';
        @return $number;
    }
    // $digits must be a unitless number
    @if type-of($digits) != number {
        @warn '#{ $digits } is not a number.';
        @return $number;
    } @else if not unitless($digits) {
        @warn '#{ $digits } has a unit.';
        @return $number;
    }
    @if $digits > 0 {
        @for $i from 1 through $digits {
            $n: $n * 10;
        }
    }
    @if $mode == round {
        @return round($number * $n) / $n;
    } @else if $mode == ceil {
        @return ceil($number * $n) / $n;
    } @else if $mode == floor {
        @return floor($number * $n) / $n;
    } @else {
        @warn '#{ $mode } is undefined keyword.';
        @return $number;
    }
}

@mixin responsive-ratio($x, $y) {
    $padding: ( $y / $x ) * 100;
    padding-bottom: unquote(decimal-round($padding, 2) + '%');
}

@mixin makeHeroImage($img, $width, $height) {
    @include responsive-ratio($width, $height);
    background-image: url($img);
}

.hero {
    margin-top: 0;
    position: relative;
    height: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    @include makeHeroImage('img/hero--wide2.jpg', 1366, 477);

    .hero__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.m-t { margin-top: $spacingUnit; }
.m-t-none { margin-top: 0; }
.m-b { margin-bottom: $spacingUnit; }
.m-b-none { margin-bottom: 0; }
.padded { padding: $spacingUnit; }

@media screen and (min-width: $tablet) {

    .flex {
        display: flex;
        margin-left: -$spacingUnit * 2;

        &.flex--2-up {
            flex-wrap: wrap;
            & > .flex__item {
                flex-basis: calc(50% - #{$spacingUnit * 2});
                max-width: calc(50% - #{$spacingUnit * 2});
            }
        }

        &.flex--3-up {
            flex-wrap: wrap;
            & > .flex__item {
                flex-basis: calc(33% - #{$spacingUnit * 2});
                max-width: calc(33% - #{$spacingUnit * 2});
            }
        }

        &.flex--4-up {
            flex-wrap: wrap;
            & > .flex__item {
                flex-basis: calc(25% - #{$spacingUnit * 2});
                max-width: calc(25% - #{$spacingUnit * 2});
            }
        }

        & > .flex__item {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 0;
            margin-left: $spacingUnit * 2;
            word-wrap: break-word;

            &.flex__item--major {
                flex-grow: 2;
            }

        }
    }
}

footer {
    background-color: #354450;
    color: #ffffff;

    .footer__inner {
        padding-top: $spacingUnit;
        padding-bottom: $spacingUnit;
    }

     p {
         margin-bottom: 0;
     }
}

.media {
    overflow: hidden;

    .media__img {
        margin-right: $spacingUnit * 2;
        float: left;
        width: 220px;

        &.media__img--right {
            margin-right: 0;
            margin-left: $spacingUnit * 2;
            float: right;
        }
    }


    .media__body {
        overflow: hidden;
    }

}

img, video {
    width: 100%;
}

iframe {
    margin: auto;
    display: block;
    margin-bottom: $spacingUnit;
}

.shaded {
    background-color: #ebf2f8;

    .shaded__inner {
        padding-top: $spacingUnit;
        padding-bottom: $spacingUnit;
    }
}

.caption {
    color: #909090;
    font-size: 14px;
    margin: $spacingUnit / 2 0 $spacingUnit;
}

blockquote {
    font-size: 25px;
    line-height: 1.6;
    padding-left: 5%;
    padding-right: 5%;
    color: #307cb5;
}

.big-header {
    padding-top: $spacingUnit;
    padding-bottom: $spacingUnit;

    span {
        float: right;
        font-size: 14px;
        margin-top: 6px;
    }
}

.text-right {
    @media screen and (min-width: $tablet) {
        text-align: right;
    }
}

.bordered {
    border: 1px solid #cccccc;
}

.minor {
    font-size: 14px;
    color: #999999;
}