---
layout: default
---

<aside class="hero"><div class="hero__inner"></div></aside>
<div class="inner m-t m-b">
<!--3-->
    <div class="flex">
        <div class="flex__item">
            <h2 class="m-b">About me</h2>

            <p>Hi, my name is Matt – welcome to my homepage. I'm a creative technologist currently at BBC's Digital Guerrillas team in Birmingham. Prior to that, I worked for five years as a client-side developer and manager at the Guardian in London. When I'm not writing HTML, CSS & JavaScript I'm a keen writer, musician, cyclist and homebrewer. I also speak at conferences and teach a variety of technical classes – more on these below.</p>

            <h3>Find me on the web</h3>

            <p>Hi, my name is Matt – welcome to my homepage. I'm a creative technologist currently at BBC's Digital Guerrillas team in Birmingham. Prior to that, I worked for five years as a client-side developer and manager at the Guardian in London. When I'm not writing HTML, CSS & JavaScript I'm a keen writer, musician, cyclist and homebrewer. I also speak at conferences and teach a variety of technical classes – more on these below.</p>

            <h4>Threechords</h4>
            <ul>
                {% for post in site.categories.threechords %}
                <li>
                    <a href="{{ post.wordpress_url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>

            <h4>Guardian</h4>
            <ul>
                {% for post in site.categories.guardian %}
                <li>
                    <a href="{{ post.link }}">{{ post.title }}</a>
                    <img src="/assets/img/{{ post.image }}" width="100" />
                </li>
                {% endfor %}
            </ul>

            <h4>Teaching</h4>
            {% for post in site.categories.teaching %}
                <h5>{{ post.title }}</h5>
                <h6>{{ post.host }}</h6>
                <img src="/assets/img/{{ post.image }}" width="100" />
                <p>{{ post.description }}</p>
                <ul>
                    {% for s in post.sessions %}
                        <li>{{ s.start | date: "%e %B %Y" }}{% if s.end %} &ndash; {{ s.end | date: "%e %B %Y" }}{%
                            endif %}</li>
                    {% endfor %}
                </ul>
            {% endfor %}

            <h4>Talks</h4>
            <ul>
                {% for post in site.categories.talks %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <img src="/assets/img/{{ post.image }}" width="100" />
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="flex__item">
            hello
        </div>
    </div>


</div>
